@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "./media-queries";

$dark-color: #1b0737;
$light-color: #41177c;
$gray: #727272;
$white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 62.5rem;
    padding: 0 1.5rem;
}

.hero {
    min-height: 100vh;
    display: grid;
    grid-template-columns: .5fr repeat(4, 1fr) .5fr;
    background-color: $light-color;

    @include mobile {
        display: flex;
        flex-direction: column;
        background-color: $dark-color;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    &-bg {
        background-color: $dark-color;
        grid-column: 1/5;
        grid-row: 1/2;

        @include mobile {
            display: none;
        }
    }

    &-left {
        grid-column: 2/5;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;

        @include mobile {
            align-items: center;
            text-align: center;
        }
        
        ::selection {
            background-color: $white;
            color: $light-color;
        }

        .class-number {
            font-size: 1.2rem;
            background-color: $gray;
            width: max-content;
            padding-inline: .75rem;
            border-radius: 100vmax;

            @include mobile {
                font-size: 1rem;
            }
        }

        .class-title {
            font-size: calc(1rem + 5vw);
            line-height: 1.1;
            margin-block: .25em;
            z-index: 1;
        }

        .course-name {
            padding-bottom: .2em;
            border-bottom: 2px solid $white;

            @include mobile {
                font-size: .85rem;
            }
        }
    }

    &-right {
        grid-column: 4/6;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo-js {
            width: 30rem;
            max-width: 100%;
            max-height: 100%;

            @include mobile {
                max-width: 5rem;
            }
        }
    }
}

.topic {
    margin-bottom: 1rem;

    &-title {
        margin-top: 1rem;
        font-size: 2rem;
    }

    pre {
        background-color: #222222;
        color: white;
        padding: 1rem 1.5rem;
        border-radius: .25rem;

        code {
            font-family: 'Roboto Mono', monospace;
            line-height: 1.5;
            font-size: .75rem;
            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
    }
}

.topics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.topics {
    display: grid;
    grid-template-areas:
        "for       switch"
        "while     switch"
        "do-while  switch";
    grid-template-columns: 1fr 1fr;
    max-width: 60rem;

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    [aria-labelledby="for"] {
        grid-area: for;
    }

    [aria-labelledby="while"] {
        grid-area: while;
    }

    [aria-labelledby="do-while"] {
        grid-area: do-while;
    }

    [aria-labelledby="switch"] {
        grid-area: switch;
    }
}